[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cairosvg = "*"
discord = "*"
gspread = "*"
matplotlib = "*"
requests = "*"
sympy = "*"
chess = "*"
python-dotenv = "*"
chempy = "*"

[dev-packages]

[requires]
python_version = "3.10"
